<div class="page-container">
  <div class="container container-img">
    <div class="banne-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
      <h3><%= @cocktail.name %></h3>
    </div>
  </div>
  <div class="container">

    <hr class="line">

    <div class="d-flex justify-content-between title">
        <h3>Description</h3>
        <h3>Ingredients</h3>
    </div>


    <% @cocktail.doses.each do |dose| %>
    <div class="d-flex justify-content-between description-ingredients">
        <div class="description text-left">
          <%= dose.description  %>
        </div>
        <div class="ingredient text-right">
          <%= dose.ingredient.name  %>
        </div>
    </div>
    <div class="d-flex">

      <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-ghost" do %>
      <i class="fas fa-trash-alt icon"></i>
      <% end %>
      <%= link_to edit_cocktail_dose_path(dose), class: "btn btn-ghost" do%>
      <i class="far fa-edit icon"></i>
      <% end %>
    </div>
    <% end %>

    <hr class="line">

    <div class="d-flex justify-content-around all-button">
        <div class="button-add-dose">
          <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-show"%>
        </div>
        <div class="button-deletecocktail">
          <%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-show" %>
        </div>
        <div class="button-allcocktails">
          <%= link_to "All Cocktails", cocktails_path, class: "btn btn-show"%>
        </div>
    </div>

  </div>
</div>
