<div class="container home">
  <!-- Banner page, navbar, two buttons -->
  <div class="d-flex justify-content-around banner">
    <div class="button-left">
      <%= link_to "All cocktails", cocktails_path, class: "btn-banner" %>
    </div>
    <div class="image-banner-1">
      <%= image_tag "home-banner.png", alt: "cocktail", class: "image-home  image-banner " %>
    </div>
    <div class="button-right">
      <%= link_to "Add Cocktail", new_cocktail_path, class: "btn-banner" %>
    </div>
  </div>

  <!-- Body cards and description -->
   <div class="container">
     <div class="card-description d-flex justify-content-between">
       <div class="container image-left">
          <%= image_tag "mojito.png", alt: "cocktail", width: 500, class: "image-home" %>
       </div>

          <div class="container description-right">
             <h1>Mojito®</h1>
             <h3>Special cocktails, create yours</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptas, quod ex atque, blanditiis veniam harum, quia omnis eius iure unde ullam rerum esse. Nulla assumenda atque temporibus, ab nam.</p>
             <%= link_to "Create yours", new_cocktail_path, class: "btn-3card" %>
          </div>
     </div>

      <div class="card-description d-flex justify-content-between">

          <div class="container description-right">
             <h1>Negroni®</h1>
             <h3>Special cocktails, create yours</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptas, quod ex atque, blanditiis veniam harum, quia omnis eius iure unde ullam rerum esse. Nulla assumenda atque temporibus, ab nam.</p>
             <%= link_to "Create yours", new_cocktail_path, class: "btn-3card" %>
          </div>
         <div class="container image-left">
            <%= image_tag "negroni.png", alt: "cocktail", width: 500, class: "image-home" %>
         </div>
     </div>

      <div class="card-description d-flex justify-content-between">
         <div class="container image-left">
            <%= image_tag "oldfashion.png", alt: "cocktail", width: 500, class: "image-home" %>
         </div>

          <div class="container description-right">
             <h1>Old Fashion®</h1>
             <h3>Special cocktails, create yours</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptas, quod ex atque, blanditiis veniam harum, quia omnis eius iure unde ullam rerum esse. Nulla assumenda atque temporibus, ab nam.</p>
             <%= link_to "Create yours", new_cocktail_path, class: "btn-3card" %>
          </div>
      </div>
   </div>
</div>
